#titulo { font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-left: 798;
    border-style:solid;
    color: rgb(199, 226, 205);
    border-radius: 10px;
}
#label1{
    font-size : 20;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:initial;
    width: 150%;
    text-align: center;
  

    
}

#Form{
    text-align: center;
  


}

#estilo1{
  height: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
  background-color: rgb(115, 212, 159);
  border-radius: 10px;
  font-style:normal;

  font-size: large;
}

body{
    background-image:url(fundo.PNG);
   background-size:contain;

    
}
#btn {
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(15, 90, 15);
    font-family: arial black;
    


        
}

#div {
  width: 120px;


}